* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
    scroll-padding: 15rem;
}

body {
    font-family: var(--body-font);
    position: relative;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: .8rem .6rem;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 3rem;
}

.btn {
    padding: 1rem 2rem;
    background: var(--base-color);
    color: #fff;
    border-radius: 25px;
}