* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: var(--body-font);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: .8rem .6rem;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}