:root {
  --base-color: #7ED957;
  --secondary-color: #EAF7EE;
  --third-color: #B7E4CE;
  --forth-color: #6ECE81;
  --fifth-color: #5ead6e;
  --body-font: "Montserrat", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 15rem;
}

body {
  font-family: var(--body-font);
  position: relative;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0.8rem 0.6rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
}

.btn {
  padding: 1rem 2rem;
  background: var(--base-color);
  color: #fff;
  border-radius: 25px;
}

#nav_bar {
  width: 100%;
  flex-direction: column;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  position: fixed;
}
#nav_bar.sticky {
  transform: translateY(-32%);
}
#nav_bar.sticky #fc-nav {
  background: rgb(9, 41, 35);
  border-bottom: 1px solid transparent;
}
#nav_bar #anouncment_bar {
  width: 100%;
  background: #fff;
}
#nav_bar #anouncment_bar .container {
  justify-content: space-between;
}
#nav_bar #anouncment_bar .container .social-links {
  gap: 0.6rem;
  font-size: 1.2rem;
}
#nav_bar #anouncment_bar .container .social-links i {
  color: var(--base-color);
}
#nav_bar #fc-nav {
  width: 100%;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4235294118);
  transition: all 0.3s ease-in-out;
}
#nav_bar #fc-nav .container {
  justify-content: space-between;
}
#nav_bar #fc-nav .container .logo {
  align-items: center;
}
#nav_bar #fc-nav .container .logo img {
  width: 5rem;
}
#nav_bar #fc-nav .container .logo h3 {
  font-size: 1.6rem;
  color: #fff;
}
#nav_bar #fc-nav .container .logo h3 span {
  color: var(--base-color);
}
#nav_bar #fc-nav .container .menu {
  gap: 1.3rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav_bar #fc-nav .container .menu a {
  color: #fff;
}
#nav_bar #fc-nav .container .menu a span {
  text-transform: none;
}
#nav_bar #fc-nav .container .menu-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  border: none;
  display: none;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#nav_bar #fc-nav .container .menu-btn i {
  color: rgb(9, 41, 35);
}

#mobile-nav {
  width: 70%;
  background: #fff;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
  box-shadow: -14px 5px 171px -75px rgba(0, 0, 0, 0.75);
  transition: all 0.3s ease-in-out;
  transform: translateX(200%);
  display: none;
  z-index: 100;
}
#mobile-nav .menu {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  text-transform: uppercase;
  position: relative;
}
#mobile-nav .menu li a {
  color: rgb(9, 41, 35);
  font-size: 1.2rem;
  font-weight: 500;
}
#mobile-nav .menu button {
  background: none;
  border: none;
  font-size: 2rem;
  position: absolute;
  right: 30px;
  top: 80px;
  cursor: pointer;
  color: rgb(9, 41, 35);
}

#home {
  width: 100%;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1461468611824-46457c0e11fd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
#home header {
  width: 100%;
  color: #fff;
}
#home header .title {
  margin-bottom: 1.3rem;
}
#home header .title span {
  display: inline-block;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid var(--base-color);
}
#home header p {
  font-size: 1.2rem;
  width: 40%;
  margin-bottom: 3rem;
}

#about .container {
  position: relative;
}
#about .container .quote {
  background: #fff;
  position: absolute;
  display: block;
  width: 90%;
  top: -400%;
  left: 50%;
  transform: translate(-50%);
  padding: 3rem;
  text-align: center;
  font-size: 2rem;
}
#about .container_about {
  display: flex;
  padding: 15rem 0rem 3rem 0rem;
  justify-content: center;
  align-items: center;
  width: 80%;
}
#about .container_about header {
  width: 50%;
}
#about .container_about header h2 {
  margin-bottom: 2rem;
}
#about .container_about header article {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 4rem;
}
#about .container_about .image {
  width: 50%;
}

#services {
  padding: 10rem 0rem;
  background: #F7F8FA;
  border-top: 2px solid #f7f7f7;
}
#services .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#services .container .wrapper {
  width: 90%;
}
#services .container .wrapper header .title {
  text-align: center;
  margin-bottom: 2rem;
}
#services .container .wrapper header p {
  text-align: justify;
  margin-bottom: 5rem;
}
#services .container .wrapper .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
  justify-content: space-evenly;
}
#services .container .wrapper .cards .card {
  overflow: hidden;
  position: relative;
  height: 360px;
}
#services .container .wrapper .cards .card .card-info {
  background: #fff;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  left: 0;
  top: 75%;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
#services .container .wrapper .cards .card .card-info h3 {
  cursor: default;
}
#services .container .wrapper .cards .card .card-info p {
  cursor: default;
}
#services .container .wrapper .cards .card .card-info button {
  background: var(--secondary-color);
  border: none;
  color: var(--forth-color);
  padding: 0.6rem;
  font-size: 1rem;
  border-radius: 15px;
  cursor: pointer;
}
#services .container .wrapper .cards .card .card-info .card-body {
  opacity: 0;
  transition: all 0.75s ease-in-out;
}
#services .container .wrapper .cards .card:hover .card-info {
  top: 0;
}
#services .container .wrapper .cards .card:hover .card-info .card-body {
  opacity: 1;
}

#services_page {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: -2;
}
#services_page.active {
  opacity: 1;
  top: 50%;
  z-index: 20;
}
#services_page.active .wrapper {
  position: relative;
  top: 0;
}
#services_page .wrapper {
  width: 80%;
  background: #fff;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: absolute;
  top: -100%;
  transition: all 0.3s ease-in-out;
}
#services_page .wrapper .info {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  gap: 2rem;
  align-items: center;
  width: 50%;
}
#services_page .wrapper .info .article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#services_page .wrapper .image {
  width: 50%;
}
#services_page .wrapper .close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

#contacts {
  background: var(--fifth-color);
  padding: 4rem 3rem;
}
#contacts h3 {
  color: #fff;
  text-align: center;
}
#contacts .container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#contacts .container header {
  width: 33.3333333333%;
}
#contacts .container .line {
  width: 3px;
  height: 160px;
  background-color: #fff;
}
#contacts .container .contact_elements {
  width: 33.3333333333%;
}
#contacts .container .contact_elements ul {
  display: flex;
  gap: 5rem;
  color: #fff;
}
#contacts .container .contact_elements ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.4rem;
  width: 50%;
}
#contacts .container .contact_elements ul li .contat_elemet_title {
  font-size: 1.25em;
  font-weight: 500;
}
#contacts .container .contact_elements ul li p {
  font-size: 14px;
  opacity: 0.6;
}
#contacts .container .contact_elements ul li .icon {
  font-size: 35px;
  color: #fff;
}
#contacts .container .contact_elements ul li a {
  color: greenyellow;
}

#footer {
  background: rgb(9, 41, 35);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 6rem 0;
}
#footer img {
  width: 300px;
  height: 300px;
}
#footer .info {
  font-size: 1.2rem;
  font-weight: 600;
}

@media screen and (max-width: 1400px) {
  #contacts .container heder {
    width: 50%;
  }
  #contacts .container .contact_elements {
    width: 50%;
  }
}
@media screen and (max-width: 1200px) {
  .btn {
    padding: 0.6rem 1rem;
  }
  #home {
    text-align: center;
  }
  #home header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #home header p {
    width: 90%;
  }
  #services_page .wrapper {
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
  }
  #services_page .wrapper .info {
    width: 100%;
  }
  #services_page .wrapper .info .article {
    font-size: 0.7rem;
  }
  #services_page .wrapper .image {
    display: none;
  }
  #about .container {
    flex-direction: column;
    gap: 2rem;
  }
  #about .container .quote h3 {
    font-size: 1.6rem;
  }
  #about .container header {
    width: 100%;
  }
  #about .container .image {
    width: 100%;
  }
}
@media screen and (max-width: 960px) {
  .title {
    font-size: 2.5rem;
  }
  #contacts .container {
    flex-direction: column;
    gap: 5rem;
  }
  #contacts .container header {
    width: 100%;
  }
  #contacts .container .line {
    display: none;
  }
  #contacts .container .contact_elements {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  #nav_bar.sticky {
    transform: translateY(-43%);
  }
  #contacts .container .contact_elements ul {
    flex-direction: column;
  }
  #contacts .container .contact_elements ul li {
    width: 100%;
  }
}
@media screen and (max-width: 850px) {
  #nav_bar.sticky {
    transform: translateY(-44%);
  }
  #nav_bar #fc-nav .container .menu {
    display: none;
  }
  #nav_bar #fc-nav .container a header .logo-img {
    width: 3rem;
  }
  #nav_bar #fc-nav .container a header .nav-title {
    font-size: 1rem;
  }
  #nav_bar #fc-nav .container .menu-btn {
    display: flex;
  }
  #mobile-nav {
    display: flex;
  }
  #mobile-nav.active {
    transform: translateX(0);
  }
}
@media screen and (max-width: 530px) {
  .title {
    font-size: 2rem;
  }
  #anouncment_bar {
    font-size: 0.8rem;
  }
  #footer {
    padding: 2rem 0rem;
  }
  #contacts {
    padding: 2rem 3rem;
  }
  #services {
    padding: 6rem 0rem;
  }
}/*# sourceMappingURL=style.css.map */